<p>Signed in as @<%= cookies.signed[:username] %>.</p>

<div id='messages' style="height:200px; width:500px;" class="ScrollStyle"></div>
<br/><br/>

<%= text_field_tag :body, '', id: 'chat-speak', style: "width:500px;height:50px", placeholder: "Enter Your Text" %>

<script type="text/javascript" > 
  $('#chat-speak').on('keypress', function(e) {
  	if(e.keyCode == 13){
      $("#messages").animate({ scrollTop: 2010});
    }
  });
</script>
<style type="text/css">
	.ScrollStyle
	{
	    overflow-y: scroll;
	    overflow: auto;
	    background-color: #F5F6CE;
	}
</style>